<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<!--本の詳細ページ-->
  <div class="container px-5 px-sm-0">
    <div class="row">

      <div class="col-md-3">
       <%= render 'layouts/book', user:@user, book:@book_new %>
      </div>


      <div class="col-md-8 offset-md-1">
        <h2>Book detail</h2>
 <table class="table table-hover table-inverse">


 <tbody>
　　　　<td><%= link_to user_path(@book.user) do %>
　　　　<%= attachment_image_tag @book.user, :profile_image, :fill, 100, 100, format: 'jpeg', fallback: "no_image.jpg" %>
　　　　<br>
　　　　<%= @book.user.name %>
　　　　<% end %>
　　　　</td>


　　　　<td><%= link_to book_path(@book) do %>
　　　　<%= @book.title %>
　　　　<% end %>
　　　　</td>

        <td><%= @book.body %></td>

     <% if @user.id == current_user.id %>
        <td><%= link_to "Edit", "/books/#{@book.id}/edit" %></td>
        <td><%= link_to "Destroy", "/books/#{@book.id}",method: :delete %></td>
     <% end %>
  </tbody>
</table>


<div id="new-comment">
 <%= render partial: 'book_comments/comment', locals: { book: @book} %>
</div>

<div>
  <%= form_with(model:[@book, @book_comment]) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに", id:"text_area" %>
  <%= f.submit "送信する", id:"comment_submit" %>
  <% end %>
</div>

<div id="favorite_buttons_<%= @book.id %>">
    <%= render partial: 'favorites/favorit', locals: { book: @book} %>
</div>


    </div>
  </div>
</div>

